@import './_variables.sass';

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: "Dodo Regular", system-ui, Tahoma, sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  &.scroll-lock {
    overflow-y: hidden;
  }
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}
a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
  color: #232323;
}
h1 {
  font-size: 48px;
}
h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
}
a {
  text-decoration: none;
}
.header {
  border-bottom: 1px solid #f6f6f6;
  padding: 25px 0;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: flex;
	align-items: center;
}
.header__logo img {
	width: 50px;
  margin-right: 15px;
}
.header__logo h1 {
  color: #181818;
  font-size: 24px;
  letter-spacing: 1%;
  text-transform: uppercase;
  white-space: nowrap;
}
.header__logo p {
	font-size: 12px;
	letter-spacing: 1px;
  color: #7b7b7b;
}
.button {
  display: inline-block;
  background-color: $secondary-color;
  border-radius: 10px;
  padding: 10px 20px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  border: 1px solid transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.button,
.button span {
  color: #fff;
}
.button i,
.button span,
.button path,
.button svg {
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.button:hover {
  background-color: darken($secondary-color, 10%);
}
.button:active {
  background-color: #de4101;
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}
.button--circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  min-width: 32px;
  padding: 0;
  border-width: 2px;
}
.button--black {
  background-color: #232323;
}
.button--black:hover,
.button--black:active {
  background-color: #3d3d3d;
}
.button--outline {
  background-color: #fff;
  border-color: $secondary-color;
}
.button--outline,
.button--outline span {
  color: $secondary-color;
}
.button--outline svg path {
  fill: $secondary-color;
}
.button--outline:hover {
  background-color: $secondary-color;
}
.button--outline:hover,
.button--outline:hover span {
  color: #fff;
}
.button--outline:hover svg path {
  fill: #fff;
}
.button--outline:active {
  background-color: darken($secondary-color, 5%);
}
.button__delimiter {
	margin: 0 10px;
  width: 1px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.25);
}
.button--add {
	display: inline-flex;
	align-items: center;
  height: 38px;
  padding: 0 12px;
}
.button--add svg {
  margin-right: 2px;
}
.button--add span {
  font-weight: 600;
  font-size: 14px;
}
.button--add:hover i {
  background-color: #fff;
  color: $secondary-color;
}
.button--add i {
	margin-left: 5px;
  border-radius: 30px;
  display: flex;
	align-items: center;
	justify-content: center;
  width: 20px;
  height: 20px;
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  background-color: $secondary-color;
  color: #fff;
}
.button--cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 23px;
  padding: 8px 16px;
}
.button--cart svg {
  margin-right: 8px;
  margin-bottom: 1px;
}
.button--cart span {
  font-weight: 600;
  font-size: 16px;
  white-space: nowrap;
}
.categories ul {
  display: flex;
	flex-wrap: wrap;
	margin-bottom: 15px;
}
.categories ul li {
  background-color: #f9f9f9;
  padding: 10px 20px;
  border-radius: 10px;
  margin-right: 5px;
	margin-bottom: 5px;
	font-size: 16px;
  font-family: "Dodo Bold";
  cursor: pointer;
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.categories ul li:hover {
  background-color: #f4f4f4;
}
.categories ul li:active {
  background-color: #ececec;
}
.categories ul li.active {
  background-color: $secondary-color;
  color: #fff;
	&:hover {
		background-color: darken($secondary-color, 5%);
	}
}
.sort {
  position: relative;
	margin-bottom: 15px;
  user-select: none;
}
.sort__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.sort__label svg {
  margin-right: 8px;
}
.sort__label b {
  margin-right: 8px;
}
.sort__label span {
	position: relative;
	top: 1px;
  color: $secondary-color;
  border-bottom: 1px dashed $secondary-color;
  cursor: pointer;
}
.sort__popup {
  position: absolute;
  right: 0;
  margin-top: 15px;
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 0;
  width: 160px;
}
.sort__popup ul {
  overflow: hidden;
}
.sort__popup ul li {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .order {
    margin-left: 10px;
    svg {
      width: 15px;
      height: 20px;
      path {
        fill: $secondary-color
      }
    }
  }
}
.sort__popup ul li.active,
.sort__popup ul li:hover {
  background: rgba(254, 95, 30, 0.05);
}
.sort__popup ul li.active {
  font-family: "Dodo Bold";
  color: $secondary-color;
}
.pizza-block {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pizza-block__image {
	margin: 0 auto 10px;
  width: 260px;
	height: 260px;
	img {
		width: 100%;
		height: 100%;
	}
}
.pizza-block__title {
  font-size: 20px;
  font-family: "Dodo Bold";
  letter-spacing: 1%;
  margin-bottom: 20px;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pizza-block__selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f3f3f3;
  border-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 6px;
}
.pizza-block__selector ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.pizza-block__selector ul:first-of-type {
  margin-bottom: 6px;
}
.pizza-block__selector ul li {
  padding: 8px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  cursor: pointer;
  font-family: "Dodo Bold";
  font-size: 14px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pizza-block__selector ul li.active {
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  cursor: auto;
}
.pizza-block__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 20px;
}
.pizza-block__price {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.015em;
}
.wrapper {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  background-color: #fff;
}
.content {
  padding: 40px 0;
}
.content__title {
  margin: 35px 0;
}
.content__items {
	display: grid;
	grid-template-columns: repeat(auto-fill, 280px);
	grid-column-gap: 30px;
	grid-row-gap: 60px;
	justify-content: space-around;
}
.content__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
	flex-wrap: wrap;
}
.container {
  width: 90%;
  margin: 0 auto;
}

.cart {
  width: 430px;
  height: 100%;
  background-color: rgb(243, 243, 247);
  transition: transform 0.3s;
  will-change: transform;
  transform: translate(100%, 0);
  &-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    &.active {
      .cart {
        transform: translate(0, 0);
        &-popup__backdrop {
          opacity: 1;
        }
      }
    }
    &.closing {
      .cart {
        transform: translate(100%, 0);
        &-popup {
          &__backdrop {
            opacity: 0;
          }
          &-close {
            opacity: 0;
          }
        }
      }
    }
    &__backdrop {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.64);
      opacity: 0;
      transition: opacity 0.3s;
    }
    &__inner {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
    }
    &-close {
      margin-right: 30px;
      cursor: pointer;
      transition: transform 0.3s;
      &:hover {
        transform: rotate(90deg);
      }
    }
  }
  &-empty {
    height: 100%;
    margin: 30px;
    overflow-y: auto;
    display: flex;
    align-items: center;
    &__inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: min-content;
    }
    &-image {
      margin-bottom: 20px;
      max-width: 250px;
      width: 100%;
    }
    &-title {
      margin: 0;
      margin-bottom: 10px;
      font-size: 21px;
    }
    &-p {
      margin: 0;
      margin-bottom: 10px;
      font-size: 14px;
      text-align: center;
      white-space: pre-wrap;
      line-height: 1.5;
    }
  }
  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &-h {
    flex: 0 0 auto;
    margin: 30px 0 10px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &-label {
      margin-right: 10px;
      margin-bottom: 10px;
      font-size: 21px;
    }
    .cart-clear {
      flex: 0 0 auto;
    }
  }
  &-clear {
    margin-bottom: 10px;
    display: flex;
    cursor: pointer;
    &:hover {
      .cart-clear {
        &-label {
          color: #232323;
        }
      }
      path {
        stroke: #232323;
      }
    }
    &-label {
      margin-left: 5px;
      font-size: 18px;
      color: #B6B6B6;
    }
    svg {
      line-height: 0;
    }
  }
  &-b {
    flex: 0 1 auto;
    overflow-y: auto;
    &__inner {
      height: min-content;
    }
  }
  .card {
    position: relative;
    margin-bottom: 10px;
    padding: 12px 16px;
    background-color: #FFFFFF;
    &-b {
      border-bottom: 1px solid rgb(226, 226, 233);
      padding-bottom: 12px;
      display: grid;
      grid-template-columns: 60px [col] 1fr;
      grid-column-gap: 10px;
    }
    &-delete {
      position: absolute;
      top: 10px;
      right: 16px;
      width: 16px;
      cursor: pointer;
      svg {
        width: 100%;
      }
    }
    &-pic {
      width: 60px;
    }
    &-inf {
      align-self: center;
    }
    &-title {
      margin-bottom: 2px;
      font-family: "Dodo Bold";
      font-size: 16px;
    }
    &-exinf {
      font-size: 12px;
    }
    &-f {
      margin-top: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-price {
      font-family: "Dodo Bold";
      font-size: 16px;
    }
    &-bar {
      display: flex;
      height: 32px;
      user-select: none;
      &-btn {
        background-color: $secondary-color;
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:active {
          svg {
            transform: translateY(2px);
          }
        }
        &.minus {
          border-top-left-radius: 16px;
          border-bottom-left-radius: 16px;
        }
        &.plus {
          border-top-right-radius: 16px;
          border-bottom-right-radius: 16px;
        }
        svg {
          transition: transform 0.2s;
        }
      }
      &__value {
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        background-color: $secondary-color;
        color: #FFFFFF;
      }
    }
  }
  &-f {
    margin-top: auto;
    flex: 0 0 auto;
    padding: 20px 16px;
    box-shadow: 0px -2px 4px rgba(6, 5, 50, 0.1);
    background-color: #FFFFFF;
  }
  &-subtotal {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgb(226, 226, 233);
    .info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .label, .value {
      margin-bottom: 8px;
      font-size: 12px;
    }
  }
  &-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .label, .value {
      font-family: "Dodo Bold";
      margin-bottom: 16px;
      font-size: 16px;
    }
    &-btn {
      border: none;
      border-radius: 24px;
      width: 100%;
      height: 48px;
      background-color: $secondary-color;
      color: #FFFFFF;
      font-family: "Dodo Bold";
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease-in;
      &:hover {
        background-color: darken($secondary-color, 5%);
      }
    }
  }
}

.search {
  margin: 0 15px;
  border-radius: 10px;
  flex: 0 1 400px;
  height: 43px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f3f3f3;
  overflow: hidden;
  &__input {
    border: none;
    flex: 1 1 auto;
    background-color: inherit;
    height: 100%;
    padding: 0 15px;
    font-family: "Dodo Bold";
    font-size: 16px;
    min-width: 0px;
    color: #232323;
  }
  &__icon {
    flex: 0 0 auto;
    width: 25px;
    height: 25px;
    img, svg {
      width: 100%;
      height: 100%;
    }
    .close {
      cursor: pointer;
    }
  }
}

.pag {
  margin: 60px auto 0;
  max-width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  &__inner {
    overflow-x: auto;
    margin: 0 10px;
    display: flex;
    align-items: center;
    scrollbar-width: 0px;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
  &-item {
    margin: 0 10px;
    border-radius: 10px;
    flex: 0 0 auto;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Dodo Bold";
    font-size: 16px;
    background-color: #F9F9F9;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    &.active {
      background-color: $secondary-color;
      color: #FFFFFF
    }
  }
  &__prev, &__next {
    margin: 0;
    svg {
      width: 20px;
      height: 20px;
    }
  }
}
