@media ( max-width: 1200px )
  .content
    &__items
      grid-template-columns: repeat(auto-fill, 200px)
      grid-column-gap: 15px
      grid-row-gap: 30px

  .pizza
    &-block
      &__image
        width: 200px
        height: 200px
      &__title
        margin-bottom: 10px
        font-size: 18px
      &__bottom
        margin-top: 10px
        flex-wrap: wrap
      &__price
        margin-bottom: 10px
        font-size: 16px
      .button--add
        margin-bottom: 10px
        padding: 8px

@media ( max-width: 768px )
  .header
    padding: 12px 0
    .container
      flex-wrap: wrap
    &__logo
      img
        margin-right: 5px
        width: 35px
      h1
        font-size: 18px
      p
        display: none
    &__cart
      .button--cart
        padding: 5px 10px
        span
          font-size: 14px
  .content
    padding: 20px 0
  .container
    width: 100%
    padding: 0 15px
    &--cart
      margin: 0 auto
  .categories
    ul
      li
        border-radius: 8px
        padding: 8px 10px
        font-size: 14px
  .sort
    &__label
      font-size: 14px
    &__popup
      margin-top: 8px
      padding: 5px 0
      width: 140px
      ul
        li
          font-size: 14px

@media ( max-width: 520px )
  .content
    &__items
      display: flex
      flex-wrap: wrap
      grid-column-gap: initial
      grid-row-gap: initial
  .pizza
    &-block
      flex: 1 1 48%
      &:nth-child(2n)
        margin-left: 10px
      &__image
        width: 100%
        height: auto
      &__title
        font-size: 16px
      &__selector
        ul
          li
            padding: 8px 2px
            font-size: 12px
      .button--add
        min-width: 30px
        height: 30px
        padding: 0 5px
        justify-content: center
        span
          display: none
        svg
          margin-right: 0

  .cart
    border-top-left-radius: 20px
    border-top-right-radius: 20px
    width: 100%
    transform: translate(0, 100%)
    &-popup
      padding-top: 20px
      &.closing
        .cart
          transform: translate(0, 100%)
      &__inner
        flex-direction: column
      &-close
        margin-right: 0
        margin-bottom: 20px

@media ( max-width: 450px )
  .pizza
    &-block
      &__selector
        ul
          li
            font-family: "Dodo Regular"
            font-size: 11px
